.body-color {
    background-color: #EEEEEE;
}

/* Home */
/* Menu */
.logo-img {
    height: 45px;
    width: 45px;
}
.fa-facebook-square {
    font-size: 40px;
}
/* Our Process */
.process-img {
    padding-top: 5px;
    height: 310px;
}
/* Popular Products */
.carousel-relative {
    position: relative;
    height: 50px;
}
.carousel-absolute {
    top: -50px;
    position: absolute;
}
/* About Us */
.icon-size {
    font-size: 50px;
}
/* Contact */
.padd-text {
    padding: 2px 0;
}
.contact-bg-img {
    padding: 25px 0;
    background-position: center;
    background-size: cover;
}
/* Our Manufacturers */
.manufactur-img {
    height: 140px;
}
/* Footer */
.footer-logo {
    height: 62px;
    width: 62px;
}

/* About Us */
.gallery-imgs {
    cursor: pointer;
    height: 220px;
}
.gallery-imgs:hover {
    opacity: 0.7;
}
.block-zoom-img {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}
.zoom-gallery-img {
    display: block;
    height: 510px;
}
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
}
.close:hover {
    color: #bbb;
}

/* Products */
.img-cart {
    position: relative;
}
.block-cart {
    position: absolute;
    display: none;
    width: 100%;
    bottom: 0;
}
.img-cart:hover .block-cart {
    display: block;
}
.link-sort:hover {
    background-color:  #bbb;
}
.products-link {
    text-decoration: none !important;
    color: #000;
}
.products-link:hover {
    color: #000;
}
.fa-star {
    color: #fc0;
    font-size: 15px;
}
.products-img {
    height: 280px;
}
.filter-position {
    position: sticky;
    top: 0;
    z-index: 1;
}
.product-text {
    text-align: right;
}
/* Filter */
.filterCol {
    display: none;
}
.show {
    display: block;
}
 
/* Sing Product */
.size-product {
    width: 50px;
}
.radio-size input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.radio-size input[type="radio"]:checked + label {
    background-color: #6c757d;
    color: #fff;
}
.sing-product-img {
    width: 100px;
    height: 100px;
    border: 1px solid #6c757d;
    border-radius: 5px;
}
.product-position {
    align-items: flex-start;
}
.product-sticky{
    position: sticky;
    top: 0;
}
.img-product-height {
    height: 650px;
}

/* Blogs */
.blog-link {
    text-decoration: none !important;
    color: #000;
}
.blog-link:hover {
    color: #000;
}

/* Single Article */
.single-article-img {
    height: 500px;
}

/* Multiple */
.text-decor, .tag-link {
    text-decoration: none !important;
}
.cl-black {
    color: #000;
}
.link-color {
    /* secondary */
    color: #6c757d;
}
.link-color:hover {
    /* dark */
    color: #343a40;
}
/* Error */
.error-page {
    font-size: 250px;
}

/* Extra Large */
@media (max-width: 1200px) {
    /* Menu */
    .link-social-media {
        display: none;
    }
    .down-hyperlink {
        margin-left: 10px;
    }
}

/* Large */
@media (max-width: 992px) {
    /* Process */
    .text-proces {
        text-align: center;
    }
    /* Pages About Us */
    .block-zoom-img {
        padding-top: 100px;
    }
    /* Products */
    .filter-position {
        position: static;
    }
    /*Popular Products*/
    .product-none-carousel {
        display: none;
    }
    /* Sing Product */
    .img-product-height {
        height: 550px;
    }
    /* Multiple */
    .single-article-img, .process-img, .products-img, .zoom-gallery-img, .gallery-imgs {
        height: auto;
    }

}

/* Small */
@media (max-width: 576px) {
    /* Home Slider */
    .space-down, .text-hidden {
        display: none;
    }
    /* Pages About Us */
    .block-zoom-img {
        padding-top: 180px;
    }
    /* Products */
    .product-text {
        text-align: left;
    }
    /* Sing Product */
    .img-product-height {
        height: 400px;
    }
}

/* Large */
@media (min-width: 992px) {
    /* --Products-- */
    .filter-mob {
        display: none;
    }
    .filer-nav {
        padding-right: 2rem;
    }
    .sort-by-text {
        text-align: left;
    }
}

